<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Зоотакси</title>
	<link rel="stylesheet" type="text/css" href="/style/main.css">
	<meta name="description" content="Перевозка животных Россия">
	<meta name="description" content="Перевозка животных Москва">
	<meta name="description" content="Перевозка животных Санкт-Петербург">
	<meta name="description" content="Доставка животных Россия">
	<meta name="description" content="Доставка животных">
	<meta name="description" content="Перевозка животных">
	<meta name="description" content="Безопасная перевозка животных Россия">
	<meta name="description" content="Международным перевозка животных">
	<meta name="description" content="Перевозка кошек Россия">
	<meta name="description" content="Перевозка собак Россия">
	<meta name="google-site-verification" content="ZwGlJSHK_BJh1v9JdAGZAUVG26mFncOvcATFreOF2e8" />
</head>
<body>
<nav>
	<div class="div_zootaksi">
		<a href="/"><h1 class="zootaksi">Зоотакси</h1></a>
		<h3>Доставка животных</h3>
	</div>	
	<a href="/benefits"><h1>Наши преимущества</h1></a>
	<div class="phone">
		<img class="img_phone" src="/img/telegram.png" alt="Перевозка животных Россия">
		<img class="img_phone" src="/img/whatsapp.jpg" alt="Доставка животных Россия">
		<h1 class="phone_phone">+79687305669</h1>
		<a class="exit" href="/logout"><img style="width: 50px;" src="/img/exit.jpg"></a>
		<h1><%- name %></h1>
	</div>	
</nav>

<div class="center4">
    <h1 class="item1">Наши преимущества</h1>
    <h2 class="item4">Зоотакси является официально зарегистрированным юридическим лицом, которое ведет свою деятельность руководствуясь национальным и международным законодательством.</h2>
</div>
<div class="center5">
	<div class="center7">
		<div class="center6">
			<span class="ben_div_title_n">1.</span>
			<span class="benefits">Универсальность</span>
		</div>
		<h3>Мы предоставляем весь комплекс услуг, связанных с доставкой животных.</h3>
		<ul class="border">
			<li class="li_li">Подготовку разрешительных документов</li>
			<li class="li_li">Ветеринарные услуги</li>
			<li class="li_li">Проведение анализов</li>
			<li class="li_li">Услуги временного проживания животных</li>
			<li class="li_li">Аренду транспортных боксов</li>
			<li class="li_li">Страховку</li>
			<li class="li_li">Перевозку животных</li>
			<li class="li_li">Финансовые документы</li>

		</ul>
	</div>
	<div class="center7">
		<div class="center6">
			<span class="ben_div_title_n">2.</span>
			<span class="benefits">Охват</span>
		</div>
		<h3>Деятельность фирмы охватывает всю Украину, страны ближнего и дальнего Зарубежья. Доставка осуществляется:</h3>
		<ul class="border">
			<li class="li_li">Курьером</li>
			<li class="li_li">Автотранспортом</li>
			<li class="li_li">Авиатранспортом</li>
		</ul>
		<img class="universal" src="/img/cat.jfif" alt="Перевозка кошек Россия">
	</div>

	<div class="center7">
		<div class="center6">
			<span class="ben_div_title_n">3.</span>
			<span class="benefits">Актуальность</span>
		</div>
		<h3>Мы постоянно следим за изменениями профильного Законодательства и обладаем большим опытом в части его применения на практике.</h3>

		<img class="universal" src="/img/dog.jpg" alt="Перевозка собак Россия">
	</div>

	<div class="center7">
		<div class="center6">
			<span class="ben_div_title_n">4.</span>
			<span class="benefits">Индивидуальный подход</span>
		</div>
		<h3>Всегда учитываются индивидуальные особенности заказа, вы получите уникальную эмоционально-деловую поддержку.</h3>
	</div>

	<div class="center7">
		<div class="center6">
			<span class="ben_div_title_n">5.</span>
			<span class="benefits"> Простота</span>
		</div>
		<h3>Оформление заказа занимает несколько минут. Доступно несколько способов удобной официальной оплаты.</h3>
	</div>

	<div class="center7">
		<div class="center6">
			<span class="ben_div_title_n">♡.</span>
			<span class="benefits">Самое важное</span>
		</div>
		<h3>Мы любим свое дело и уверены, что удоволетворение от хорошо выполненной работы стоит того, чтобы к нему стремиться.</h3>
	</div>
</div>
<footer>
	<div class="div_zootaksi">
		<a href="/"><h1 class="zootaksi">Зоотакси</h1></a>
		<h2 class="white">Доставка животных</h2>
	</div>	
	
	<div>
		<ul>
			<h2 class="white">Наши услуги</h2>
			<ul>
				<li>Перевозка животных по России</li>
				<li>Услуги посредника</li>
			</ul>
		</ul>
	</div>
	<div class="phone">
		<img class="img_phone" src="/img/telegram.png" alt="Перевозка животных Россия">
		<img class="img_phone" src="/img/whatsapp.jpg" alt="Перевозка животных Россия">
		<h1 class="phone_phone">+79687305669</h1>
	</div>
</footer>

</body>
</html>