<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Зоотакси</title>
	<link rel="stylesheet" type="text/css" href="/style/main.css">
	<meta name="description" content="Перевозка животных Россия">
	<meta name="description" content="Перевозка животных Москва">
	<meta name="description" content="Перевозка животных Санкт-Петербург">
	<meta name="description" content="Доставка животных Россия">
	<meta name="description" content="Доставка животных">
	<meta name="description" content="Перевозка животных">
	<meta name="description" content="Безопасная перевозка животных Россия">
	<meta name="description" content="Международным перевозка животных">
	<meta name="description" content="Перевозка кошек Россия">
	<meta name="description" content="Перевозка собак Россия">
	<meta name="google-site-verification" content="ZwGlJSHK_BJh1v9JdAGZAUVG26mFncOvcATFreOF2e8" />
</head>
<body>
<nav>
	<div class="div_zootaksi">
		<a href="/"><h1 class="zootaksi">Зоотакси</h1></a>
		<h3>Доставка животных</h3>
	</div>	
	<a href="/benefits"><h1>Наши преимущества</h1></a>
	<div class="phone">
		<img class="img_phone" src="/img/telegram.png" alt="Перевозка животных Россия">
		<img class="img_phone" src="/img/whatsapp.jpg" alt="Доставка животных Россия">
		<h1 class="phone_phone">+79687305669</h1>
		<a class="exit" href="/logout"><img style="width: 50px;" src="/img/exit.jpg"></a>
		<h1><%- name %></h1>
	</div>	
</nav>

<h1 class="dostavka1">Услуги посредника</h1>
<div class="center13">
    <img src="/img/dog_russia.png">
    <div class="center14">
        <h1>Услуга посредничества при приобретении животного</h1>
        <h4 class="marg">Мы оказываем помощь по подбору, поиску животных для покупки.</h4>
        <h4 class="marg">За время деятельности у нас установились доверительные отношения с лучшими заводчиками, честными контрагентами с высокой деловой репутацией. Вы можете воспользоваться нашими связями или найти домашнего любимца самостоятельно. В любом случае, Вы можете рассчитывать на всяческую поддержку с нашей стороны.</h4>
        <h4 class="marg">Мы предлагаем посреднические услуги при проведении переговоров с продавцом, осуществлению оплаты. Выступаем гарантом интересов покупателя при коммерческих сделках. Также у нас доступны услуги переводчиков на большинство языков. Предоставляем помощь в получении родословных международного образца. Оказываем содействие по подбору животных из приюта.</h4>
        <h4 class="marg">Также, Вам доступна «Услуга по проверке животного перед покупкой» на всей территории России и за рубежом.</h4>
    </div>
</div>

<footer>
	<div class="div_zootaksi">
		<a href="/"><h1 class="zootaksi">Зоотакси</h1></a>
		<h2 class="white">Доставка животных</h2>
	</div>	
	
	<div>
		<ul>
			<h2 class="white">Наши услуги</h2>
			<ul>
				<li>Перевозка животных по России</li>
				<li>Услуги посредника</li>
			</ul>
		</ul>
	</div>
	<div class="phone">
		<img class="img_phone" src="/img/telegram.png" alt="Перевозка животных Россия">
		<img class="img_phone" src="/img/whatsapp.jpg" alt="Перевозка животных Россия">
		<h1 class="phone_phone">+79687305669</h1>
	</div>
</footer>

</body>
</html>