<head>
	<meta charset="utf-8">
	<title>Login</title>
	<link rel="stylesheet" type="text/css" href="/style/main.css">
</head>

<body>
    <a class="icon" href="/auth/google"><img style="width: 50px;" src="/img/google.png"></a>
    <a class="icon" href="/auth/facebook"><img style="width: 50px;" src="/img/facebook.png"></a>
    <form id="form">
        <div class="imgcontainer">
        <img src="https://html5css.ru/edithtm/img_avatar2.png" alt="Avatar" class="avatar">
        </div>
    
        <div class="container">
        <label for="uname"><b>Username</b></label>
        <input type="text" placeholder="Enter Username" name="uname" required>
    
        <label for="psw"><b>Password</b></label>
        <input type="password" placeholder="Enter Password" name="psw" required>
    
        <button type="submit">Login</button>
        <div id="error"></div>
        <label>
            <input type="checkbox" checked="checked" name="remember"> Remember me
        </label>
        </div>
    
        <div class="container" style="background-color:#f1f1f1">
        <button type="button" class="cancelbtn">Cancel</button>
        <span class="psw">Forgot <a href="#">password?</a></span>
        </div>
    </form>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.2.2/axios.min.js"></script>
<script src="/js/login.js"></script>    