<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Зоотакси</title>
	<link rel="stylesheet" type="text/css" href="/style/main.css">
	<meta name="description" content="Перевозка животных Россия">
	<meta name="description" content="Перевозка животных Москва">
	<meta name="description" content="Перевозка животных Санкт-Петербург">
	<meta name="description" content="Доставка животных Россия">
	<meta name="description" content="Доставка животных">
	<meta name="description" content="Перевозка животных">
	<meta name="description" content="Безопасная перевозка животных Россия">
	<meta name="description" content="Международным перевозка животных">
	<meta name="description" content="Перевозка кошек Россия">
	<meta name="description" content="Перевозка собак Россия">
	<meta name="google-site-verification" content="ZwGlJSHK_BJh1v9JdAGZAUVG26mFncOvcATFreOF2e8" />
</head>
<body> 
<nav>
	<div class="div_zootaksi">
		<a href="/"><h1 class="zootaksi">Зоотакси</h1></a>
		<h3>Доставка животных</h3>
	</div>	
	<a href="/benefits"><h1>Наши преимущества</h1></a>
	<div class="phone">
		<img class="img_phone" src="/img/telegram.png" alt="Перевозка животных Россия">
		<img class="img_phone" src="/img/whatsapp.jpg" alt="международным перевозка животных">
		<a class="exit" href="/logout"><img style="width: 50px;" src="/img/exit.jpg"></a>
		<h1><%- name %></h1> 
	</div>	
</nav>

<div class="center1">
	<img class="img_main" src="/img/main.png" alt="Доставка животных">
	<div class="centered">Ищите надежную доставку
		для Вашего любимца?</div>
</div>

<h1 class="uslugi">Наши услуги</h1>

<div class="center2">
	<a href="/russia">
		<div class="earth">
			<img class="russia" src="/img/1.jfif" alt="Перевозка собак Россия">
			<h2>Перевозка животных по России</h2>
		</div>
	</a>
	<a href="/intermediary">
		<div class="earth">
			<img class="russia" src="/img/4.png" alt="Перевозка кошек Россия">
			<h2>Услуги посредника</h2>
		</div>
	</a>	
</div>

<h1 class="uslugi1">О нас</h1>

<div class="center8">
	<h2>Приветствуем Вас на сайте службы доставки животных!</h2>
	<h2>Зоотакси оказывает услуги по перевозке животных, проведению ветеринарных анализов, сопровождению коммерческих сделок с животными, подготовке разрешительных и таможенных документов. В нашем лице Вы найдете ответсвенного исполнителя и надежного партнера.</h2>
	<h2>Услуги из перечня доступны и частным лицам, и организациям.</h2>
	<h2>Мы делаем перемещение животных легким, комфортным и безопасным.</h2>
</div>

<div class="center0">
	<h1 class="uslugi2">Порядок оказания услуг</h1>
	<div class="stars">
		<div class="star"></div>
	</div>
	<div class="center3">	
		<h2 class="item">Выбор необходимой услуги</h2>
		<h3>Пожалуйста, ознакомьтесь с предлагаемыми услугами из списка. Зайдите на страницу
			выбранной услуги и свяжитесь удобным способом с нужным сотрудником.</h3>
	</div>

	<div class="stars">
		<div class="star"></div>
		<div class="star"></div>
	</div>
	<div class="center3">	
		<h2 class="item">Оформление Заказа</h2>
		<h3>При первичном обращении с консультантом обсуждаются детали и условия оказания услуг. По результатам 
			запроса создается заказ для реализации.</h3>
	</div>

	<div class="stars">
		<div class="star"></div>
		<div class="star"></div>
		<div class="star"></div>
	</div>
	<div class="center3">	
		<h2 class="item">Подтверждение и оплата Заказа</h2>
		<h3>После осмотра животного ветеринаром и одобрение его транспортировки.
			После подписания Заказа, Вы можете оплатить Заказ удобным способом.</h3>
	</div>

	<div class="stars">
		<div class="star"></div>
		<div class="star"></div>
		<div class="star"></div>
		<div class="star"></div>
	</div>
	<div class="center3">	
		<h2 class="item">Завершение Заказа</h2>
		<h3>Заказ считается выполненным после завершения доставки животного,
			предоставления документов или по другим предусмотренным критериям.</h3>
	</div>

	<div class="stars">
		<div class="star"></div>
		<div class="star"></div>
		<div class="star"></div>
		<div class="star"></div>
		<div class="star"></div>
	</div>
	<div class="center3">	
		<h2 class="item">Дополнительные возможности</h2>
		<h3>Изменения, дополнения, уточнения к принятому к исполнению Заказу возможны
			по согласию сторон, с учетом здравого смысла и соображений безопасности.
			Мы учитываем все пожелания и предлагаем индивидуальный подход.</h3>
	</div>
</div>

<footer>
	<div class="div_zootaksi">
		<a href="/"><h1 class="zootaksi">Зоотакси</h1></a>
		<h2 class="white">Доставка животных</h2>
	</div>	
	
	<div class="foot_center">
		<ul>
			<h2 class="white">Наши услуги</h2>
			<ul>
				<li>Перевозка животных по России</li>
				<li>Услуги посредника</li>
			</ul>
		</ul>
	</div>
	<div class="phone">
		<img class="img_phone" src="/img/telegram.png" alt="Перевозка животных Россия">
		<img class="img_phone" src="/img/whatsapp.jpg" alt="Доставка животных Россия">
		<h1 class="phone_phone">+79687305669</h1>
	</div>
</footer>

</body>
<script type="text/javascript">
    if (window.location.hash === "#_=_"){
    history.replaceState 
        ? history.replaceState(null, null, window.location.href.split("#")[0])
        : window.location.hash = "";
}
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.2.2/axios.min.js"></script>
<script src="/js/main.js"></script>
</html>