<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Зоотакси</title>
	<link rel="stylesheet" type="text/css" href="/style/main.css">
	<meta name="description" content="Перевозка животных Россия">
	<meta name="description" content="Перевозка животных Москва">
	<meta name="description" content="Перевозка животных Санкт-Петербург">
	<meta name="description" content="Доставка животных Россия">
	<meta name="description" content="Доставка животных">
	<meta name="description" content="Перевозка животных">
	<meta name="description" content="Безопасная перевозка животных Россия">
	<meta name="description" content="Международным перевозка животных">
	<meta name="description" content="Перевозка кошек Россия">
	<meta name="description" content="Перевозка собак Россия">
	<meta name="google-site-verification" content="ZwGlJSHK_BJh1v9JdAGZAUVG26mFncOvcATFreOF2e8" />
</head>
<body>
<nav>
	<div class="div_zootaksi">
		<a href="/"><h1 class="zootaksi">Зоотакси</h1></a>
		<h3>Доставка животных</h3>
	</div>	
	<a href="/benefits"><h1>Наши преимущества</h1></a>
	<div class="phone">
		<img class="img_phone" src="/img/telegram.png" alt="Перевозка животных Россия">
		<img class="img_phone" src="/img/whatsapp.jpg" alt="Доставка животных Россия">
		<h1 class="phone_phone">+79687305669</h1>
		<a class="exit" href="/logout"><img style="width: 50px;" src="/img/exit.jpg"></a>
		<h1><%- name %></h1>
	</div>	
</nav>

<h1 class="dostavka">Перевозка животных по России</h1>
<div class="center11">
    <img class="cat_cat" src="/img/cat_russia.jpg">
    <div class="center12">
        <h1>Нужна безопасная доставка по России?</h1>
        <h4>Фирма Зоотакси осуществляет перевозку по России животных – собак, котов, лошадей, птиц и других представителей животного мира. Наша компания предлагает полный комплекс качественных решений для перевозок животных по России.

            Перевозки животных по России связанные с переездом в другой город, приобретением или продажей, путешествием или поездкой на выставку являются нашей специализацией. При необходимости, принимаем животных на кратковременное проживание. Разветвленная сеть филиалов, адаптивная ценовая политика, позволяют оказывать широкий спектр услуг.</h4>
        <h1>Мы осуществим:</h1>
        <ul class="border">
            <li class="li_li">Перевозку по территории России животных отдельно или в сопровождении хозяина.</li>
            <li class="li_li">Доставку или встречу животного в аэропорту, на вокзале (с хозяином или без).</li>
            <li class="li_li">Перевозку сельскохозяйственных или диких животных.</li>
            <li class="li_li">Проверку животного перед приобретением в другом городе.</li>
            <li class="li_li">Услугу согласно индивидуальным требованиям.</li>
        </ul>    
    </div>
</div>

<footer>
	<div class="div_zootaksi">
		<a href="/"><h1 class="zootaksi">Зоотакси</h1></a>
		<h2 class="white">Доставка животных</h2>
	</div>	
	
	<div>
		<ul>
			<h2 class="white">Наши услуги</h2>
			<ul>
				<li>Перевозка животных по России</li>
				<li>Услуги посредника</li>
			</ul>
		</ul>
	</div>
	<div class="phone">
		<img class="img_phone" src="/img/telegram.png" alt="Перевозка животных Россия">
		<img class="img_phone" src="/img/whatsapp.jpg" alt="Перевозка животных Россия">
		<h1 class="phone_phone">+79687305669</h1>
	</div>
</footer>

</body>
</html>